{% load widget_tweaks %}
<section class="form-group">
    {% if field.field.widget.input_type == "checkbox" %}
        <div class="flex items-center mt-1">
            {% render_field field class="h-4 w-4 text-indigo-600 transition duration-150 ease-in-out" %}
            <label for="{{ field.id_for_label }}" class="ml-2 block text-sm font-medium text-gray-700">
                {{ field.label }}
            </label>
        </div>
    {% else %}
        <label for="{{ field.id_for_label }}" class="block text-sm font-medium text-gray-700">
            {{ field.label }}
            {% if field.field.required %}<span class="text-red-500">*</span>{% endif %}
        </label>
        {% render_field field class="mt-1 p-2 w-full border border-gray-300 rounded-md" %}
    {% endif %}
    {% for error in field.errors %}
        <p class="text-red-500 text-sm">{{ error }}</p>
    {% endfor %}
</section>
