{% extends "layouts/base_root.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block layout %}
    <main class="bg-kamazon-teal flex items-center justify-center min-h-screen">
        <div class="bg-white shadow-lg rounded-lg p-6 w-full max-w-md">
            <h1 class="text-2xl font-bold mb-4 text-center">Escanea el Código QR</h1>
            <div class="relative h-64 bg-gray-200 rounded-lg overflow-hidden">
                <div id="video" class="w-full h-full object-cover"></div>
            </div>
            <div class="mt-4 text-center">
                <button class="bg-kamazon-teal text-white px-4 py-2 rounded-lg cursor-pointer">Cancelar</button>
            </div>
            <p id="error" class="mt-4 text-center text-red-500 text-sm">
            </p>
        </div>
    </main>
    <script src="{% static "assets/../../../../../static/vendor/html5-qrcode/html5-qrcode.min.js" %}"></script>
    <script>
        const user_id = "{{ user.id }}";
        const redirectUrl = "{% url 'settings:profile-devices' %}";

        document.querySelector('button').addEventListener('click', () => {
            html5QrCode.stop();
            window.location.href = redirectUrl;
        });
    </script>
    <script src="{% static "js/qr-scan.js" %}"></script>
{% endblock layout %}
